/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
/* common css style */
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
.container{
   width: 1160px;
    margin: 0 auto;
}
html{
    scroll-behavior: smooth;
}
img{
    width: 100%;
}
a{
    text-decoration: none;
}
/* top-banner-section-start */
.top-banner-section{
    background: #2D25A0;
    padding:80px 0px;
}
.banner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 102px;
}
.banner-title {
    margin-top: 110px;
}

.banner-title h2 {
    color: #ffffff;
    font-weight: 700;
    font-size: 64px;
    width: 485px;
    line-height: 82px;
}
.live-watch {
    margin-top: 37px;
}
.live-watch a {
    background: #E02C6D;
    padding: 10px 24px;
    color: #ffffff;
    font-weight: 500;
    font-size: 16px;
    position: relative;
    z-index: 3;
    overflow: hidden;
    display: inline-block;
    transition: .5s;
}
.live-watch a::before {
    content: "";
    position: absolute;
    left: -50%;
    top: 0;
    height: 100%;
    width: 0;
    background: #FF4406;
    z-index: -1;
    transition: .5s;
}
.live-watch a::after {
    content: "";
    position: absolute;
    right: -50%;
    top: 0;
    height: 100%;
    width: 0;
    background: #FF4406;
    z-index: -1;
    transition: .5s;
}
.live-watch a:hover::before{
    width: 50%;
    left:0;
}
.live-watch a:hover::after{
    width: 50%;
    right:0;
}
.fa-arrow-right {
    margin-left: 8px;
}
.banner-image img {
    width: 556px;
    height: 438px;
    margin-top: 55px;
}
/* top-banner-section-end */
/* blog section start */
.blog-section{
    background: #ffffff;
    padding: 70px 0px;
}
.blogs{
    width: 1050px;
    margin: 0 auto;
}
.blog-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 27px;
}
.blog{
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    padding: 15px;

}
.blog-thumbnail img{
    width: 300px;
    height: 256px;
}
.blog-detail h3 {
    font-weight: bold;
    font-size: 28px;
    color: #18191F;
    margin-top: 16px;
}
.blog-detail p {
    font-size: 16px;
    color: #6C6C6C;
    line-height: 26px;
    margin: 10px 0px;
}
/* blog section end */
/* team section start */
section.our-team {
    padding: 60px 0px;
}
.team-general h1 {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 30px;
}
.team-topper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}
.team-profile {
    display: flex;
    background: #F7F7F7;
    padding: 20px;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 2px 5px 7px 1px #aaaaaa;
}
.profile-image img {
    width: 240px;
    height: auto;
}
.team-bio {
    margin-left: 30px;
}
.team-bio h2 {
    font-size: 25px;
    font-weight: 600;
    color: #8E8E8E;
    margin-bottom: 10px;
}
.team-bio h3 {
    font-size: 18px;
    font-weight: 700;
    color: #A7A7A7;
    margin-bottom: 5px;
}
.team-bio p {
    color: #D1D1D1;
}
.write-button {
    background: #ffffff;
    color: #D3283F;
    font-size: 16px;
    text-transform: uppercase;
    border: 5px solid #D3283F;
    padding: 4px;
    font-weight: 700;
    margin-top: 22px;
    display: inline-block;
    transition: .8s ease in;
}
.write-button:hover{
   background: #D3283F;
   color: #ffffff;
}
/* team section end */
/* sign up section start */
section.sign-up {
    padding: 20px 0px;
}
.sign-for-website {
    background: #F4F4F4;
    padding: 30px 0px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.sign h1 {
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    color: #414956;
}
.sign-inform p {
    font-size: 16px;
    font-weight: 500;
    color: #797e87;
}
.subscribe {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
input[type="email"] {
    color: #797e87;
    font-size: 18px;
    border: 2px solid #797E87;
    padding: 10px;
    border-radius: 10px;
}
button.button-submit {
    padding: 8px 15px;
    font-size: 18px;
    background: #D3283F;
    color: #ffffff;
    font-weight: 600;
    border: 1px solid #D3283F;
    border-radius: 5px;
    cursor: pointer;
}
/* sign up section end */
/* footer section start */
footer.footer-section {
    background: #ffffff;
    padding: 40px 0;
}
.footer-image {
    text-align: center;
}
.footer-image img {
    width: 483px;
    height: 110px;
}
.social-icon {
    margin: 10px 0px;
}
.social-icon ul{
display: flex;
justify-content: center;
}
.social-icon ul li {
    list-style: none;
    background: #969BAB;
    margin: 0px 10px;
    height: 35px;
    width: 35px;
    text-align: center;
    font-size: 25px;
    border-radius: 75px;
    transition: .5s;
}
.social-icon ul li:hover{
    color:#FFFFFF;
    background: #E02C6D;
    transform: rotate(360deg);
}
.social-icon ul li a {
    color: #ffffff;
}
.footer-bottom p {
    text-align: center;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    margin: 20px 0px;
}
/* footer section end */